{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h1>Livraison :</h1>
        {{ form_label(form.adress) }}
        {{ form_widget(form.adress) }}

        {{ form_label(form.postal_code) }}
        {{ form_widget(form.postal_code) }}

        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}

        <h1>Paiement :</h1>

         {{ form_label(form.card_number) }}
         {{ form_widget(form.card_number) }}

         {{ form_label(form.owner_name) }}
         {{ form_widget(form.owner_name) }}

         {{ form_label(form.crypto) }}
         {{ form_widget(form.crypto) }}
    {{ form_rest(form) }}
    <button type="submit">Commander</button>
    {{ form_end(form) }}
{% endblock %}