{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
{% block body %}
    <h2 class="text-center">L'APNE c'est quoi ?</h2>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <h3>Présentation</h3>
                <p>
                    L'APNE (Association de Protection de la Nature et de l'Environnement) sensibilise à la cause écologique, à l’environnement et aux situations précaires.
                    Nous souhaitons entretenir des liens de solidarité et d’amitié entre tous.
                </p>
            </div>
            <div class="col-sm-4 vertical-center">
                <img src="/images/membre_bureau.jpg" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <h3>Membres du bureau</h3>
                <p>
                    Présidente : Nina LEMATTRE<br>
                    Vice-présidente : Manon MARTIN<br>
                    Co-secrétaires : Alizée DENIS et Benjamin LECLERC<br>
                    Trésorière : Chloé FAYOL<br>
                    Chargées de communication : Bérénice POTET et Salomé BODIN<br>
                </p>
            </div>
        </div>
    </div>

    <h2 class="text-center">Actualités</h2>
    <div class="NewsSlider container-sm">
        {% for new in news %}
            <div class="col-sm-4">
                <div class="card home-slider">
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <img src="images/post/{{ new.image  }}" class="card-img-top home-product-img">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ new.title }}</h5>
                        {% if new.content |length > 50 %}
                            <p class="card-text home-text-slider"> {{ new.content |slice(0, 50) ~ '...'}}</p>
                        {% else %}
                            <p class="card-text home-text-slider">{{ new.content }}</p>
                        {% endif%}
                        <a href="/news/{{ new.slug }}" class="btn btn-primary makethisgreen">Voir plus</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="text-center mt-4 mb-4">Shop</h2>
    <div class="ShopSlider container-sm">
    {% for product in products %}
        <div class="col-sm-4 ">
            <div class="card home-slider">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <img src="images/shop/{{ product.image  }}" class="card-img-top home-product-img">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    {% if product.description |length > 50 %}
                        <p class="card-text home-text-slider"> {{ product.description |slice(0, 50) ~ '...'}}</p>
                    {% else %}
                        <p class="card-text home-text-slider">{{ product.description }}</p>
                    {% endif%}
                    <a href="/product/{{ product.slug }}" class="btn btn-primary makethisgreen">Acheter</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}