{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('validateField') }}
{% endblock %}

{% block body %}

{{ form_start(registrationForm) }}
<div class="card mb-3 d-flex mx-auto" style="margin:50px;max-width:1000px;">
  <div class="card-header"><h3 style="margin:0px;">Register</h3></div>
  <div class="card-body">
        {{ form_row(registrationForm.email), input { padding left 20px} }}
        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.phoneNumber) }}
        {{ form_row(registrationForm.agreeTerms) }}
    <button class="btn btn-lg btn-primary col-sm" type="submit" style="margin-top:10px">Register</button>
  </div>
</div>
{{ form_end(registrationForm) }}



    
{% endblock %}
