{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('validateField') }}
{% endblock %}

{% block body %}

{{ form_start(registrationForm) }}
<div class="card mb-3 d-flex mx-auto" style="margin:50px;max-width:1000px;">
  <div class="card-header"><h3 style="margin:0px;">S'inscrire</h3></div>
  <div class="card-body register-form">
        {{ form_row(registrationForm.email, {label: 'Email'}) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
        {{ form_row(registrationForm.firstName, {label: 'Prénom'}) }}
        {{ form_row(registrationForm.name, {label: 'Nom'}) }}
        {{ form_row(registrationForm.phoneNumber, {label: 'Téléphone'}) }}
        {{ form_row(registrationForm.agreeTerms, {label: 'J\'accepte les conditions'}) }}
    <button class="btn btn-lg btn-primary col-sm" type="submit" style="margin-top:10px">Inscription</button>
  </div>
</div>
{{ form_end(registrationForm) }}



    
{% endblock %}
