{% extends 'base.html.twig' %}

{% block title %}APNE Produit {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function (){
          $('.minus').click(function(e){
              e.preventDefault();
              var val = ($('.form-control').val());
              if(val > 1) {
                  $('.form-control').val(val - 1);
              }
          });
            $('.plus').click(function(e) {
                e.preventDefault();
                var val = ($('.form-control').val());
                $('.form-control').val(val - 1 + 2); //Oui c'est très sale mais c'etait plus rapide que de caster la valeur en int
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% if product is null %}
        <script>window.location.href = '/404'</script>
    {% else %}
        <div class="container">
            <div class="card flex-row flex-wrap">
                <div class="card-header border-0 d-inline-flex p-3">
                    <div class="p-2" style="width: 35%"><img src="/images/shop/{{ product.image  }}"  style="width: 100%" alt=""></div>
                <div class="card-block px-2">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <b class="card-text">{{ product.price }}</b>
                    {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                    <div class="form-group">
                        {{ form_label(form.quantity) }}
                        <div style="display: flex">
                            <button class="btn btn-danger minus mr-1">-</button>
                            {{ form_widget(form.quantity, {
                                'attr': {
                                    'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                                }
                            }) }}
                            <button class="btn btn-success plus mr-1">+</button>
                        </div>
                        <br>

                        {{ form_widget(form.save, {
                            'attr': {
                                'class': 'btn btn-primary'}
                        }) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.quantity) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        </div>

    {% endif %}
{% endblock %}